@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

#root{
  width: 100%;
  height: 100%;
}

.far-shadow{
  filter: drop-shadow(65px 50px 4px rgba(0, 0, 0, 0.738));
}

.far-shadow-backtomenu{
  filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.738));
}

.bg-themelg{
  background: linear-gradient(165deg, rgba(203,126,100,1) 0%, rgba(124,46,36,1) 90%, rgba(124,46,36,1) 100%);
}

body{
  background-color: black;
  height: 100vh;
  width: 100%;
  font-family: 'Manrope', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}